<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
        crossorigin="anonymous"></script>
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form action="/qna/insert" method="post" enctype="multipart/form-data">
  <div>
    <input type="text" name="qnaWriter" placeholder="writer">
  </div>
  <div>
    <input type="text" name="qnaTitle" placeholder="title">
  </div>
  <div>
    <input type="text" name="qnaContents" placeholder="contents">
  </div>
  <div>
    <input type="text" name="qnaType" placeholder="qnaType">
  </div>
  <input type="file" name="uploadfile" multiple="multiple"  accept=".jpg, .png, .gif">
  <button type="submit">제출</button>
</form>
</body>
</html>